.main-page-card-bg {
    background-image: linear-gradient(135deg, #F6F6F6, #2F4058);
    padding: 2px;
    border-radius: 15px;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    max-width: 400px;
    min-width: 370px;
}

.main-page-card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
}