.user_button1 {
  background-color: var(--theme-blue);
  border: none;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.4rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.user_button1--gray {
  background-color: var(--theme-gray-light2);
  color: var(--theme-blue);
}

.user_button1--red {
  background-color: #EE3333;
  color: #fff;
}