.expert_changePassword {
  max-width: 22rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expert_changePassword p {
  font-size: 0.75rem;
}

.expert_changePassword__successMsg {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 14;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
  border-radius: 1.125rem;
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  font-size: .875rem;
  font-weight: 500;
  white-space: nowrap;
}