.contact-us-container{
    padding: 100px 0px;
}

.contact-us-arrow{
    transform: rotate(45deg);
}

.contact-us-form{
    margin-top: 70px;
}

.con-input-group{
    display: flex;
}

.con-input-group input{
    flex: 50%;
    border-radius: 10px;
    font-size: 20px;
}

.con-send-btn{
    background-color: #2F4058;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    border-radius: 10px;
    height: 70px;
    border: none;
}

.phone-number-code{
    padding: 10px 20px;
    margin-top: 3px;
}

.contact-us-input.phone-number{
    border: 2px solid #2F4058;
    border-radius: 10px;
    width: 50%;
}

.phone-number-input:focus{
    outline: none;
}

.phone-number-input{
    border: none;
    width: 100%;
}

.con-send-btn:hover{
    background-color: white;
    color: #2F4058;
    border: 2px solid #2F4058;
}

@media (max-width: 576px) {
    .contact-us-container{
      width: 100%;
      padding: 50px 10px;
      border-radius: 15px;
    }
  
    .contact-us-heading h1{
      font-size: 24px;
    }

    .con-input-group{
        display: flex;
        flex-direction: column;
    }
    
    .con-input-group input{
        flex: 80%;
    }

    .con-send-btn{
        width: 100%;
        height: 60px;
    }

    .contact-us-input.phone-number{
        width: 100%;
    }


  
  }
  
  /* Styles for medium devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .contact-us-container{
        width: 100%;
        padding: 50px 10px;
        border-radius: 15px;
    }
    
    .contact-us-heading h1{
      font-size: 28px;
    }

    .con-input-group{
        display: flex;
        flex-direction: column;
    }
    
    .con-input-group input{
        flex: 80%;
    }

    .contact-us-input.phone-number{
        width: 100%;
    }
  }
  
  /* Styles for large devices (small laptops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .contact-us-container{
        width: 90%;
        padding: 70px 20px;
        border-radius: 15px;
    }
    
    .contact-us-heading h1{
      font-size: 32px;
    }
  }
  
  /* Styles for extra-large devices (laptops and desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .contact-us-container{
        width: 80%;
        padding: 80px 30px;
        border-radius: 15px;
      }
    
      .contact-us-heading h1{
        font-size: 36px;
      }
  }
  
  /* Styles for extra-extra-large devices (large desktops) */
  @media (min-width: 1201px) {
    .contact-us-container{
        width: 70%;
        padding: 100px 50px;
        border-radius: 15px;
      }
    
      .contact-us-heading h1{
        font-size: 40px;
      }
  }