.user_available_package_details_table__key {
  color: var(--theme-gray);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.user_available_package_details_table__value {
  font-size: 0.875rem;
  max-width: 70ch;
}