.expert_chatRightSidebar {
  position: fixed;
  top: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  border-radius: 1.125rem;
  padding: 4rem 2rem 2rem 2rem;
  box-shadow: 4px 4px 20px 0px #0000001A, 8px 8px 30px 0px #D5D5D5;
  z-index: 13;
  overflow-y: auto;
}

.expert_chatRightSidebar__close_btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: unset;
  border: none;
}

.expert_chatRightSidebar.expert_chatRightSidebar--hidden {
  display: none;
}

.expert_chatRightSidebar__top {
  border-bottom: 2px solid #F6F6F6;
  padding-bottom: 1rem;
}

.expert_chatRightSidebar__chatMembers_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.expert_chatRightSidebar__bottom {
  padding: 1.5rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.expert_chatRightSidebar__bottom h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--theme-gray);
  margin: 1rem 0;
}

@media only screen and (min-width: 576px) {
  .expert_chatRightSidebar {
    width: 100%;
    max-width: 19rem;
    left: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .expert_chatRightSidebar {
    position: static;
    box-shadow: none;
    border-left: 2px solid #F6F6F6;
    border-radius: 0;
    padding: 2rem;
    z-index: 11;
  }

  .expert_chatRightSidebar.expert_chatRightSidebar--hidden {
    display: flex;
    flex-direction: column;
  }

  .expert_chatRightSidebar__close_btn {
    display: none;
  }
}