.expert_sidebar {
  position: fixed;
  top: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  background-color: #fff;
  border-radius: 1.125rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 20px 0px #0000001A, 8px 8px 30px 0px #D5D5D5;
  z-index: 14;
}

.expert_sidebar.expert_sidebar_hidden {
  display: none;
}

.expert_sidebar_hr {
  border: 0;
  height: 1px;
  background-color: var(--theme-blue);
  width: 100%;
  margin: 3rem 0 1rem 0;
}

.expert_sidebar__ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: .325rem;
  overflow-y: auto;
}

@media only screen and (min-width: 576px) {
  .expert_sidebar {
    width: 100%;
    max-width: 18rem;
  }
}

@media only screen and (min-width: 992px) {
  .expert_sidebar {
    z-index: 13;
  }

  .expert_sidebar.expert_sidebar_hidden {
    display: flex;
  }
}