.expert_base {
  --theme-blue: #2F4058;
  --theme-gray: #BFC0C2;
  --theme-gray-light: #D9D9D9;
  --theme-gray-light2: #F5F5F5;
  background-color: #EFEFEF;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #2F4058;
  border-radius: 1rem;
  border: 2px solid #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
  background: #415570;
}

.expert_base_inner {
  width: 100%;
}

.expert_base_main {
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: unset;
  position: relative;
}

.expert_bars_btn {
  border: none;
  background-color: #fff;
  padding: 0.675rem 0.75rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
  border-radius: 1.125rem;
  z-index: 14;
}


.expert_base_main.expert_main_full_width {
  width: 100%;
}

@media only screen and (min-width: 992px) {

  .expert_base_main,
  .expert_base_main.expert_main_full_width {
    width: calc(100vw - (18rem + 3rem));
  }

  .expert_bars_btn {
    display: none;
  }
}