.user_language_change {
  /* position: fixed;
  top: 1.5rem;
  right: 1.5rem; */
  user-select: none;
  z-index: 12;
  background-color: #fff;
  border-radius: 1.125rem;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
}

.user_language_change--ar {
  right: unset;
  left: 1.5rem;
}

.user_language_change>button {
  outline: none;
}

.user_language_change__dropdown {
  position: absolute;
  right: 2rem;
  bottom: -.4rem;
  transform: translateY(100%);
  border-radius: 1.125rem;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
}

.user_language_change--ar .user_language_change__dropdown {
  left: 0;
  right: unset;
}

.user_language_change__dropdown>hr {
  margin: .25rem 0;
  border: none;
  border-bottom: 1px solid var(--theme-gray-light);
}

.user_language_change__dropdown>button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  color: var(--theme-blue);
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  border-radius: 1.125rem;
  padding: .5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

.user_language_change__dropdown>button:hover {
  background-color: #eee;
}