.user_addNewCase_form {
  display: flex;
  flex-direction: column;
}

.user_addNewCase_form__details_div {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--theme-gray);
}

.user_addNewCase_form__radio_div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user_addNewCase_form__documnets_div {
  padding-top: 1.5rem;
  width: 100%;
}

.user_addNewCase_form__checkboxes_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user_addNewCase_form__submit_btn_div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.user_addNewCase_form__submit_btn_div>button {
  background-color: var(--theme-blue);
  color: #fff;
  border: none;
  border-radius: .4rem;
  padding: .3rem 1rem;
}

.user_addNewCase_form__documnets_div__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.user_addNewCase_form__documnets_div__top>h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--theme-gray);
}

.user_addNewCase_form__documnets_div__top>button {
  background-color: var(--theme-blue);
  border-radius: 0.4rem;
  border: none;
}

.user_submit_modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user_submit_modal p {
  color: #5C6D85;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {
  .user_addNewCase_form__details_div {
    grid-template-columns: repeat(2, 1fr);
  }

  .user_addNewCase_form__left_heading,
  .user_addNewCase_form__checkboxes_div,
  .user_addNewCase_form__full_width_textarea {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1200px) {
  .user_addNewCase_form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user_addNewCase_form__details_div {
    width: 66%;
    padding-right: 1.5rem;
    border-right: 2px solid var(--theme-gray);
    border-bottom: none;
    padding-bottom: 0;
  }

  .user_addNewCase_form__details_div_ar {
    padding-left: 1.5rem;
    border-left: 2px solid var(--theme-gray);
    padding-right: 0;
    border-right: none;
  }

  .user_addNewCase_form__documnets_div {
    width: 34%;
    padding-top: 0;
    padding-left: 1.5rem;
  }

  .user_addNewCase_form__documnets_div_ar {
    padding-left: 0;
    padding-right: 1.5rem;
  }

}