.user_sidebar__link {
  display: flex;
  align-items: center;
  column-gap: 1.375rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--theme-blue);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  padding: 0.625rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: unset;
}

.user_sidebar__sublink {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--theme-blue);
  font-weight: 500;
  font-size: 0.875rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: unset;
}

.user_sidebar__sublink--active {
  background-color: #5C6D85;
  color: #fff;
}

.user_sidebar__link:hover {
  color: var(--theme-blue);
}

.user_sidebar__link.user_sidebar__link--active {
  background: var(--theme-blue);
  color: #fff;
}

.user_sidebar__div {
  color: var(--theme-blue);
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
}

.user_sidebar__div.user_sidebar__div--active {
  background: var(--theme-blue);
}

.user_sidebar__div--active .user_sidebar__link,
.user_sidebar__div--active .user_sidebar__sublink {
  color: #fff;
}

.user_sidebar_sublist {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s, padding 0.3s;
}

.user_sidebar_sublist_expanded {
  grid-template-rows: 1fr;
  padding: 0 1.5rem 0.8rem 3rem;
}

.user_sidebar__li_ar .user_sidebar_sublist_expanded {
  padding: 0 3rem 0.8rem 1.5rem;
}

.user_sidebar_sublist>ul {
  overflow: hidden;
  list-style-type: none;
  padding: 0 0 0 .5rem;
  border-left: 2px solid #BFC0C2;
}

.user_sidebar__li_ar .user_sidebar_sublist>ul {
  padding: 0 .5rem 0 0;
  border-right: 2px solid #BFC0C2;
  border-left: none;
}