
.blog-page-container{
    margin-top: 70px;
}

.blog-page-title{
    font-size: 36px;
    font-weight: 600;
    color: #2F4058;
    margin-bottom: 20px;
}

.blog-page{
    width: 100%;
    border: 1px solid #2F4058;
    border-radius: 25px;
    height: 400px;
    padding: 10px;
    position: relative;
    margin-bottom: 100px;
}

.blog-page-image{
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.blog-page-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-page-body{
    padding: 20px;
    background-color: white;
}

.blog-page-body .body-left{
    width: 70%;
}

.blog-page-body .body-right{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-page-description{
    font-weight: 400;
    color: #2F4058;
    line-height: 1.8;
}


@media (max-width: 576px) {
    .blog-page-container{
      width: 100%;
      padding: 50px 10px;
      border-radius: 15px;
      flex-direction: column;
    }

    .blog-page-title{
        font-size: 24px;
    }
  }
  
  /* Styles for medium devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .blog-page-container{
        width: 100%;
        padding: 50px 10px;
        border-radius: 15px;
      flex-direction: column;
    }
    .blog-page-title{
        font-size: 24px;
    }
  }
  
  /* Styles for large devices (small laptops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .blog-page-container{
        width: 90%;
        padding: 70px 20px;
        border-radius: 15px;
    }
    .blog-page-title{
        font-size: 28px;
    }
    
  }
  
  /* Styles for extra-large devices (laptops and desktops) */
  @media (min-width: 993px) and (max-width: 1200px) {
    .blog-page-container{
        width: 80%;
        padding: 80px 30px;
        border-radius: 15px;
      }
      .blog-page-title{
        font-size: 32px;
    }
  }
  
  /* Styles for extra-extra-large devices (large desktops) */
  @media (min-width: 1201px) {
    .blog-page-container{
        width: 70%;
        padding: 100px 50px;
        border-radius: 15px;
      }
      .blog-page-title{
        font-size: 36px;
    }
  }