.user_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5rem;
  z-index: 12;
  background-color: var(--theme-gray-extra-light);
  backdrop-filter: blur(.3rem);
}

.right_headerBox {
  position: fixed;
  display: flex;
  top: 2rem;
  right: 0;
  z-index: 12;
  padding-right: 2rem;
  background-color: var(--theme-gray-extra-light);
  backdrop-filter: blur(.3rem);
}


.right_headerBox_ar {
  position: fixed;
  display: flex;
  top: 2rem;
  left: 2rem;
  z-index: 12;
  padding-right: 2rem;
  background-color: var(--theme-gray-extra-light);
  backdrop-filter: blur(.3rem);
}

.user_language_change:hover .bi-chevron-down {
  color: #2F4058;
  animation: rotate 250ms ease-in-out forwards;
  font-weight: 600;
}


.user_header_bars_btn {
  border: none;
  background-color: #fff;
  padding: 0.675rem 0.75rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
  border-radius: 1.125rem;
  z-index: 14;
}

.user_header_bars_btn_ar {
  right: 1.5rem;
  left: unset;
}

@media only screen and (min-width: 992px) {
  .user_header_bars_btn {
    display: none;
  }
}