.signup-ver-container {
  width: 100%;
  max-width: 400px;
}

.signup-ver-title {
  font-size: 24px;
  font-weight: 700;
  color: #2F4058;
  margin-bottom: 20px;
}

.container-fluid {
  margin-top: 5vw !important;
}

.signup-ver-text {
  font-size: 12px;
  font-weight: 400;
  color: #2F4058;
}

.otpInput__input {
  width: 2rem;
  border: none;
  border-bottom: 2px solid #2F4058;
  color: #2F4058;
  margin: 0 .5rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: not-allowed;
  pointer-events: none;
  font-weight: 700;
}

.otpInput__input:focus {
  border-bottom: 3px solid #BFC0C2;
  outline: none;
}

.otpInput__input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

.signup-ver-btn {
  background-color: #2F4058;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 50px;
}

.signup-ver-btn:hover {
  background-color: #2F4058;
  opacity: 0.8;
  color: #fff;
}