.case_profileUploadBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 2rem 1rem;
  border-top: 2px solid #F6F6F6;
}

.case_profileUploadBox__text_img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 60%;
}

.case_profileUploadBox h4 {
  font-weight: 500;
  font-size: 1rem;
}

.case_profileUploadBox__linkButton {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #4A8AE6;
}

.delDoc {
  border-radius: 5px;
}