.expert_pic_card_outer {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 12;
  background-color: #fff;
  border-radius: 1.125rem;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
}

.expert_pic_card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: .5rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  column-gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.expert_pic_card__dropdown {
  position: absolute;
  right: 0;
  bottom: -.4rem;
  transform: translateY(100%);
  border-radius: 1.125rem;
  background-color: #fff;
  box-shadow: 4px 4px 20px 0px #0000001A,
    0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
}

.expert_pic_card__dropdown>hr {
  margin: .25rem 0;
  border: none;
  border-bottom: 1px solid var(--theme-gray-light);
}

.expert_pic_card__dropdown>button {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  color: var(--theme-blue);
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  border-radius: 1.125rem;
  padding: .5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

.expert_pic_card__dropdown>button:hover {
  background-color: #eee;
}