.credit-container{
    width: 100%;
    max-width: 400px;
}

.sign-up-credit__ar {
    direction: rtl;
}

.credit-input, .credit-input-date{
    border-radius: 5px;
    border: 1px solid var(--theme-blue);
}

.credit-input-promo{
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid var(--theme-blue);
    border-radius: 5px;
}

.credit-input-date{
    width: 50px;
}

.card-input-label{
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-blue);
}

.amount{
    font-size: 16px;
    font-weight: 800;
    color: var(--theme-blue);

}

.amount.total{
    font-size: 18px;
    font-weight: 800;
    color: var(--theme-blue);

}

.amount-label{
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-grey-light);
}

.change-package-link{
    font-size: 12px;
    text-decoration: underline;
}

.terms-and-privacy,.terms-checkbox-label{
    font-size: 12px;
    color: var(--theme-blue);
}

.credit-btn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--theme-blue);
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.promo-btn{
    border: none;
    color: var(--theme-blue);
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
}