/* ..............BlogDetails........... */

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs-img {
    border-radius: 1.5rem;
}

.data-container {
    margin-top: 2rem;
}

.icons-blog .icon {
    font-size: 1rem;
    cursor: pointer;
}

.data-h-4 {
    color: #2F4058;
}

.data-p {
    color: #5C6D85;
}

.blog-input input,
.blog-input-description textarea {
    border: 1px solid #D9D9D9;
}

.icons-blog {
    position: absolute;
    top: 3rem;
    right: 10rem;
}

/* ...............AddBlog.......... */
.add-img-block {
    width: 100%;
    height: 17.5rem;
    background-color: #F5F5F5;
    border-radius: 1.5rem;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container .add-img-block {
    background-image: url(./blogImg1.png);
}

.add-img-block input {
    position: absolute;
    opacity: 0;
}

.upload-heading {
    font-weight: 700;
}


/* ............EditBlog......... */
.publish-btn {
    margin-left: 25.5rem;
    margin-top: 2rem;
}

.position_relative {
    position: relative;
    padding: 7rem 10rem;
}

.blogs-img {
    font-weight: 700;
    width: 100%;
}

.blog-img-upload-heading {
    position: absolute;
    color: #FFFFFF;
}


.tableImgTd img {
    height: 60px;
    width: 110px;
}