.expert_input_box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.expert_input_box label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--theme-gray);
}

.expert_input_box input,
.expert_input_box textarea,
.expert_input_box select {
  font-size: 0.875rem;
  color: var(--theme-blue);
  border: 1px solid var(--theme-blue);
  border-radius: 0.4rem;
  background-color: transparent;
}

.expert_input_box textarea {
  resize: vertical;
  padding: .5rem .75rem;
}

.expert_input_box input {
  padding: .5rem .75rem;
}

.expert_input_box select {
  padding: .6rem .75rem;
}

.expert_input_box_disabled input {
  background-color: var(--theme-gray-light);
}

.expert_input_box__time_div {
  display: flex;
  gap: 1rem;
}

.expert_input_box__time_div > input {
  width: 100%;
}