.user_searchbar_div {
  background-color: var(--theme-gray-light);
  padding: .375rem .75rem;
  position: relative;
  border-radius: 0.4rem;
}

.user_searchbar_div>input {
  font-size: 0.875rem;
  outline: none;
  background-color: transparent;
  border: none;
  font-weight: 500;
}

.user_searchbar_div>input::placeholder {
  color: var(--theme-gray);
}